<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    {% load staticfiles %}
    <link rel='stylesheet' href="{%static 'bookRev/css/bootstrap.min.css' %}" media="screen" title="bootstrap" charset="utf-8">
  </head>
  <body>
    <div class='container'>
      <a href="{% url 'books:index' %}" class="btn btn-default">Home</a>
      <a href="{% url 'books:logOut'%}" class="btn btn-default">Log Out</a>
    </div>
      <div class='container'>
          <h2>{{ this_book.title }}</h2>
          <h4>Author: {{ this_book.author.name }} </h4>
      </div>
      <div class='container'>
          <h3>Reviews:</h3>
          {% for i in all_reviews %}
            <p>Rating : {{i.rating}}</p>
            <p class='reviewerName'>{{i.user.first_name}} says: </p>
            <p class='review'>{{ i.review }}</p>
            <p>{{i.created_at}}</p>
            <hr>
          {% endfor %}
      </div>
      <div class='container'>
        <form action="{% url 'books:addReview' this_book.id %}" method="POST">
            {% csrf_token %}
            <h3>Add a Review:</h3>
            <input type="hidden" name="book_id" value="{{this_book.id}}">
            <textarea rows="10" cols="50" name='review' class='form-control cold-md-6'></textarea>
            <p>Rating:
              <select name='rating'>
                <option value="1"> 1 </option>
                <option value="2"> 2 </option>
                <option value="3"> 3 </option>
                <option value="4"> 4 </option>
                <option value="5"> 5 </option>
              </select>
             </p>
             <input type='submit' value='Submit Review' class="btn btn-default">
        </form>
      </div>
  </body>
</html>
